* {
    margin: 0;
    padding: 0;
}

.perent_card {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    grid-template-rows: repeat(3, 243px);
}

.card {
    padding: 50px;
    background-color: rgb(190, 27, 27);
    border: 1px white solid;
    font-size: 30px;
    color: white;
    
}

.menu {
    grid-row: 1 / span 3;
    background-color: green;
}

.header {
    grid-column: 2 / span 2;
    background-color: green;
}

.chat {
    grid-column-start: 4;
    grid-row: 2/ span 3;
    background-color: green;
}